/* BREAKPOINTS */
@media (max-width: 1600px) {
    html {
        font-size: 55%;
    }

    #menu-icon {
        display: none;
    }
}



@media (max-width: 1024px)  {
    .skills-contianer .skill-box {
        font-size: 1.1rem;
        gap: 2rem;
    }
}


@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}



@media (max-width: 768px) {
    section {
    min-height: 100vh;
    padding: 9rem 1% 2rem;
}

    .home-content {
    width: 80%;
}

.homeimg {
   width: 40vw;
   height: 42vh;
   bottom: 0;
}


.homeimg .home-img {
    height: 70%;
    width: 88%;
}

.home-img img {
    height: 150%;
    width: 110%;
}

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1 rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active  {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 45vw;
        height: 60vh;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
        /* overflow: hidden; */
    }

    .portfolio-container .portfolio-box img {
        width: 100%;
        height: 100%;
    }
}



@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio-container .portfolio-box img {
        width: 100%;
        height: 100%;
    }
}



@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    
    .logo {
        font-size: 1.8rem;
    }

    .home-content h3 {
        font-size: 2.2rem;
    }

    .home-content h1 {
        font-size: 4.8rem;
    }
    
    .social-media a {
        margin: 2.5rem 1.5rem 2.5rem 0;
    }

    .heading {
        font-size: 4rem;
    }

    .about-content {
    margin-left: 5rem;
    margin-right: 2rem;
    }

    .about img {
        width: 50vw;
        height: 60vh;
        margin-top: 1.5rem;
    }

    .about-content p  {
        text-align: justify;
    }

    .skills-contianer {
        width: 80%;
    }

    .skills-contianer .skill-box {
        gap: 1rem;
    }

    .skills-contianer .skill-box .skill-score {
        width: 60%;
    }

     .portfolio-container {
        justify-items: center;
     }

    .portfolio-container .portfolio-box {
        width: 90%;
    }

    .contact form .input-box {
        justify-content: center;
    }

    .contact form .input-box input, .contact form textarea {
        width: 90%;
    }
}




@media (max-width: 375px) {
    .home-img img {
        width: 90%;
    }

    .social-media a {
        margin: 2rem 1.5rem 2rem 0;
    }

    .about-content {
    margin-left: 3rem;
    margin-right: 2rem;
    }

    .about-img  {
        display: flex;
        justify-content: center;
    }

    .about-img img {
        width: 70%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer  p {
        text-align: center;
        margin-top: 2rem;
    }
}

